body{
    margin:0;
    font-size: 10pt;
}
h1{
    margin: 0;
}
.bar{
    display:flex;
    flex-direction:row;
    margin-right:2.5vh;
    margin-left:2.5vh;
}

.beat{
    display:flex;
    flex-direction:column;
}
.note{
    flex-grow: 1;
    border:2px solid rgb(233, 233, 233);
}

.individualVolume{
    display:block;
    height:10vh;
    
}
.position{
    margin-top:10px;
    min-width:5vw;
    display:flex;
    align-items: center;
}
.dot{
    min-width: 10px;
    min-height: 10px;
    display: block;
    margin:0 auto;
    border-radius: 50%;
}
.individualVolume input{
    width: 100%;
    height:100%;;
    text-align: center;
    border: none;
    box-sizing: border-box;
}
.active{
    background-color: chartreuse;
}
.selected{
    background-color:aquamarine;
}

#sequenceContainer{
    display:inline-flex;
    width:100%;
    justify-content: center;
    align-content: center;
    
}
#addBar{


}
#addBar img{
    width:5vh;
    height:100%;
}
#controlContainer{
    width:100vw;
}
#control{
    display:flex;
    position: fixed;
    left:30vw;
    bottom:5vh;
    border:black solid 2px;
    align-items:center;
    width:40vw;
    justify-content: center;
}
#control > div{
    text-align: center;
    width:6.472vh;
    height:4vh;
    
}
#control img{
    height:80%;
    margin-top: 0.5vh
}
#control > div#volume{
    width:auto;
}
#clear{
    
}

#time > div{
    display: inline;
}
#volume_slider{
    width:80%;
}
#bpm_slider{
    position: absolute;
    left:10%;
    bottom:5%;
}
#channelVolume{
    display: none;
}


#uiGrid{
    display: flex;
    flex-direction: column;
    width:auto;
    height:auto;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

#titleContainer{
    height:33vh;
    display: flex;
    justify-content: center;
    padding:25px;
    box-sizing: border-box;
}
#titleContainer > div{
    width:66vw;
    height:25vh;;
    background-color: bisque;
    position: fixed;
    overflow: hidden;
}
#titleContainer h1{
    text-align: center;
}
#tagLine{
    width: 33vw;
    display: block;
    margin: auto;
    text-align: center;
}
.verticalCentre{
    display: flex;

justify-content: center;
height: 50vh;
box-sizing: border-box;
padding-bottom: 5vh;
align-content: center;
}
#sequencerControls{
    background-color: bisque;
    padding-top:4px;
    padding-bottom:4px;
    display: flex;
    position:fixed;
    right:0;
    width:1.5vw;
}
#sequencerControls > div{
    flex-grow: 1;
}
#sequencerControls > div:first-of-type{
    align-self: center;
    justify-items: center;
}
#sequencerControls > div:nth-of-type(2){
    display: none;
}
#specificControls{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width:50%;
}
.openDraw{
    display: flex;
    height:8vh;
    align-items: center;
}